@use '@styles/mixins' as *;

.project-page {
  width: 100%;
  max-width: vc(600);
  margin-right: auto;
  margin-left: auto;
}

.timer-wrapper {
  margin-bottom: 1em;
  border-bottom: 1px solid $color-grey-2;
  padding-bottom: 2em;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  max-width: 100%;
  gap: vc(20);
}

.title-input {
  min-width: 0;
  width: auto;
}

.task {
  &__list-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
