@use '@styles/mixins' as *;

.timer {
  &__block {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: vc(50);
    text-align: center;
  }

  &__time {
    font-size: vc(80);
    font-weight: 600;
    font-family: $font-space;

    @include mobile {
      font-size: vc(60);
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__project-controls {
    display: grid;
    grid-template-columns: 100%;
    gap: vc(20);

    @include mobile {
      width: 100%;
    }
  }

  &__project-select {
    width: vc(600);
    font-size: vc(32);

    @include mobile {
      width: 100%;
    }
  }
}
